<!--
    Created by Convict
    2019/3/5 17:55
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/static/css/theme.css}">
    <link rel="stylesheet" th:href="@{/static/css/themeBranch.css}">
    <script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/theme.js}"></script>
</head>
<script type="text/javascript" th:inline="javascript">
    // 上下文路径使js可以引用 /**/防止编辑器报错
    /*<![CDATA[*/
    var ctxPath = /*[[@{/}]]*/ '';
    /*]]>*/

    $(function () {
        // 回车确定修改
        $(document).keydown(function (event) {
            if (event.keyCode === 13) {
                $("#modifyBtn").click();
            }
        });

    });

    function modify() {
        if (confirm("确定修改吗?")) {
            var url = ctxPath + "manage/modifyPassword";
            var params = {
                "oldPassword": $("#oldPassword").val(),
                "password": $("#newPassword").val()
            };
            $.getJSON(url, params, function (data) {
                if (data.status == 1) {
                    alert(data.message);
                    parent.parent.location.reload();
                    // window.location.href = ctxPath + "show/other/welcome";
                } else if (data.status == 2) {
                    $("#oldPasswordTip").html(data.message);
                } else {
                    alert(data.message);
                }
            });
        }
    }
</script>
<body>
<div class="panel admin-panel">
    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改密码</strong></div>
    <div class="body-content">
        <form name="editForm" method="post" class="form-x" th:action="@{/manage/modifyPassword}">
            <div class="form-group">
                <div class="label">
                    <label>旧密码：</label>
                </div>
                <div class="field">
                    <input type="password" class="input w50" value="" id="oldPassword"
                           data-validate="required:请输入旧密码"/>
                    <div class="tips" style="color: red;font-size: 20px" id="oldPasswordTip"></div>
                </div>
            </div>
            <div class="form-group">
                <div class="label">
                    <label>新密码：</label>
                </div>
                <div class="field">
                    <input type="password" class="input w50" value="" name="password" id="newPassword"
                           data-validate="required:请输入新密码"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label></label></div>
                <div class="field">
                    <button class="button bg-blue icon-check-square-o" type="button" id="modifyBtn" onclick="modify()"> 修改
                    </button>
                    <button class="button bg-yellow icon-check-square-o" type="button"
                            onclick="location.href='javascript:window.history.back(-1)'"> 返回
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>